
.container{
    display: contain;
    background-color: rgb(214, 214, 214); 
    margin: auto;
    height: 34em;
    width: 80em;
    
}
.containing{
    display: container;
    padding: 3em;
    margin: auto;
    height: 30em;
    width: 80em;
    background-color:blue 

} 
    .header-bar{
        display: container;
        width: 80em;
        height: 2em;
        background-color: gray;
        box-shadow: 5px 5px 5px;
        border-radius: 5px;
        
    }
    .bar-item a
    {
        background-color: gray;

    }
    .bar-item{
        
        margin-top:.33em;
        margin-left: 15em;
        display: inline-block;
    }
    h1{
        margin: auto;
        margin: 1em;
        text-align: center;
    } 

    .mid-holder{
        align-items: top;
        height: 27em;
    }
    .text-color {
        color:#f9c74f;
    }
    .order-content {
        box-shadow: 5px 5px 5px;
        float:left;
        padding: 1.7em ;
        margin:.5em 3em 3em 3em;
        width: 12em;
        height: 14em;
        background-color:#4E5166;
    }
    .customer{
        box-shadow: 5px 5px 5px;
        align-items: top;
        display:inline-block;
        background-color: #B9B7A7;
        height:20em;
        width: 28em;
    }

    #btn{
        margin: 1em;
    }

    #about-us{
        text-align: center;
        height:17em;
        width: 4em;
        display: inline-block;
        width: 18em;
        
    }
    #about-us p{
        
        margin: 2em;
        
    }
    .map{
        box-shadow: 2px 2px 2px;
        margin:3em;
        display: inline-block;
        height: 20em;
        width: 25em;
    }
    .body{
        text-align: top;
    }
    .contact-info{
        
        float:right;
        margin: 3em 8em 3em -4em;
        box-shadow: 5px 5px 5px;
        padding-bottom: 13.5em;
        align-items:center;
        background-color:#929487 ;
        width: 22em;
        height: 13em; 
        text-align: top;  

    }
    button{
        box-shadow: 5px 5px 5px;
        margin-left: 2em;

    }

    .edit-user{
        
        padding: 1em;
        display: inline-block;
        margin: auto;
        width: 21em;
        height: 13em; 
    }

    .user-info{
    
        float: left;
        /* margin: auto; */
        margin-right: 8em;
        /* display: inline-block; */
        width: 6em;
        height: 10em; 
    }
    .card-info{
        float: right;
        margin-left: 1em;
        width: 6em;
        height: 10em; 
    }
    address{
        padding-left: 2em;
    }
    h3,h4 {
        margin:3px
    }
    .img-t{
        box-shadow: 5px 5px 5px;
        display: inline-block;
        border-radius: 30px;
        height: 8em;
        width: 8em;
        margin-left: 15px;
    }
    .img-m{
        box-shadow: 5px 5px 5px;
        display: inline-block;
        border-radius: 30px;
        height: 8em;
        width: 8em;
        margin-left: 2em;

    }
    .img-b{
        box-shadow: 5px 5px 5px;
        display: inline-block;
        border-radius: 30px;
        height: 8em;
        width: 8em;
        margin-left: 7px;
    }

    .right-col{
        display: inline-block;
        width: 30em;
    }
    .edit-header{
        text-align: center;
    }