
.container{
    display: contain;
    background-color: rgb(214, 214, 214); 
    margin: auto;
    text-align: center; 
    height: 34em;
    width: 80em;
    
}
.containing{
    display: container;
    padding: 3em;
    margin: auto;
    height: 30em;
    width: 80em;
    background-color:blue 

} 
    .header-bar{
        display: container;
        width: 80em;
        height: 2em;
        background-color: gray;
        box-shadow: 5px 5px 5px;
        border-radius: 5px;
        
    }
    .bar-item a
    {
        background-color: gray;

    }
    .bar-item{
        
        margin-top:.33em;
        margin-left: 7em;
        display: inline-block;
    }
    h1{
        margin: auto;
        margin: 1em;
        text-align: center;
    } 

    .mid-holder{
        align-items: top;
    }

    .order-content{
        color:#f9c74f;
        padding: 4.7em ;
        margin:.5em 3em 3em 3em;
        display:inline-block;
        width: 20em;
        background-color:#4E5166;
    }
    .customer{
        
        align-items: top;
        display:inline-block;
        background-color: #B9B7A7;
        height:17em;
        width: 10em;
    }
    #btn{
        margin: 1em;
    }

    #about-us{
        width: 20em;
        
    }
    #about-us p{
        margin: 2em;
        
    }
    .map{
        height: 20em;
        width: 30em;
    }