<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>add food admin</title>
</head>
<body>
    <div class='header-bar'>
        <div class='bar-item'> <a href="menu">menu</a></div>
        <div class='bar-item'> <a href="contact">contact</a></div>
        <div class='bar-item'> <a href="login">login</a></div>
        <div class='bar-item'> <a href="profile">profile</a></div>
    </div>


    <h1>add food here</h1>

    <form action="add_food" method='post'>
        <!-- "item" -->
        <h2>menu items </h2>
        <label for="name">name</label>
        <input type="text" name="name" id="name">

        <label for="desc">Description</label>
        <input type="text" name="desc" id="desc">

        <label for="price">price</label>
        <input type="number" name="price" id="price">

        <label for="course">course</label>
        <select name="course" id="course">
            <option value="Appetizers">Appetizers</option>
            <option value="Entrees">Entrees</option>
            <option value="Desserts">Desserts</option>
        </select>
            <h2>add edit</h2>
    </form>

    
</body>
</html>