<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Order</title>
</head>
<body>
    <div class="row">
        <div class="col-75">
            <div class="container">
                <form action="/action_page.php">
                    <div class="row">
                        <div class="col-50">
                            <h3>Billing Address</h3>
                            <label for="fname"><i class="fa fa-user"></i> Full Name</label>
                            <input type="text" id="fname" name="firstname" placeholder="John M. Doe">
                            <label for="email"><i class="fa fa-envelope"></i> Email</label>
                            <input type="text" id="email" name="email" placeholder="john@example.com">            
                            <div class="row">
                                <div class="col-50">
                                    <label for="state">State</label>
                                    <input type="text" id="state" name="state" placeholder="NY">
                                </div>
                                <div class="col-50">
                                    <label for="zip">Zip</label>
                                    <input type="text" id="zip" name="zip" placeholder="10001">
                                </div>
                            </div>
                        </div>

                        <div class="col-50">
                            <h3>Payment</h3>
                            <label for="fname">Accepted Cards</label>
                            <div class="icon-container">
                                <i class="fa fa-cc-visa" style="color:navy;"></i>
                                <i class="fa fa-cc-amex" style="color:blue;"></i>
                                <i class="fa fa-cc-mastercard" style="color:red;"></i>
                                <i class="fa fa-cc-discover" style="color:orange;"></i>
                            </div>
                            <label for="cname">Name on Card</label>
                            <input type="text" id="cname" name="cardname" placeholder="John More Doe">
                            <label for="ccnum">Credit card number</label>
                            <input type="text" id="ccnum" name="cardnumber" placeholder="1111-2222-3333-4444">
                            <label for="expmonth">Exp Month</label>
                            <input type="text" id="expmonth" name="expmonth" placeholder="September">
        
                            <div class="row">
                                <div class="col-50">
                                    <label for="expyear">Exp Year</label>
                                    <input type="text" id="expyear" name="expyear" placeholder="2018">
                                </div>
                                <div class="col-50">
                                    <label for="cvv">CVV</label>
                                    <input type="text" id="cvv" name="cvv" placeholder="352">
                                </div>
                            </div>
                        </div>

                    </div>
                    <label>
                        <input type="checkbox" checked="checked" name="sameadr"> Shipping address same as billing
                    </label>
                    <input type="submit" value="Continue to checkout" class="btn">
                </form>
            </div>
        </div>
    </div>
    <div class="menu">
        <div class="category">
            <div>
                <span class="style">Appetizers</span>
            </div>
            <ul class="list">
                <li class="food">
                    <img src="https://speedyrecipe.com/wp-content/uploads/2018/02/Bacon-and-Egg-Cups.jpg" alt="plate"
                        class="image">
                    <div class="overlay"><a href="/add">Bacon Egg Cups - Soft boiled eggs with cheddar wrapped with
                            smokey bacon - 12</a></div>
                </li>
            </ul>
            <ul class="list">
                <li class="food">
                    <img src="https://s3-media0.fl.yelpcdn.com/bphoto/XzJQqnaT_Qc_RIm135tAlw/o.jpg" alt="plate"
                        class="image">
                    <div class="overlay"><a href="/add">Plate O' Bacon - Candied and smokey - 9</a></div>
                </li>
            </ul>
            <ul class="list">
                <li class="food">
                    <img src="https://www.wholesomeyum.com/wp-content/uploads/2016/01/wholesomeyum-crispy-bacon-wrapped-asparagus-3.jpg"
                        alt="plate" class="image">
                    <div class="overlay"><a href="/add">Asparagus - Wrapped in our uncurred house bacon - 9</a></div>
                </li>
            </ul>
            <ul class="list">
                <li class="food">
                    <img src="https://www.eatwell101.com/wp-content/uploads/2016/11/Cheesy-Bacon-Wrapped-Dates-Recipe.jpg"
                        alt="plate" class="image">
                    <div class="overlay"><a href="/add">Bacon Dates - Dates stuffed with mozzerella, wrapped in bacon -
                            9</a></div>
                </li>
            </ul>

            <div>
                <span class="style">Entrees</span>
            </div>
            <ul class="list">
                <li class="food">
                    <img src="https://whatshouldimakefor.com/wp-content/uploads/2019/07/IMG_8418.jpg" alt="plate"
                        class="image">
                    <div class="overlay"><a href="/add">Bacon cheese Burger - American Cheese, mama lils pepper, candied
                            bacon, secret sauce - 18</a></div>
                </li>
            </ul>
            <ul class="list">
                <li class="food">
                    <img src="https://www.countrysidecravings.com/wp-content/uploads/2016/10/One-Pot-Bacon-Alfredo-Picture-3.jpg"
                        alt="plate" class="image">
                    <div class="overlay"><a href="/add">Bacon Mac and Cheese - snowy cheddar, herbed bachemel, candied
                            bacon - 22</a></div>
                </li>
            </ul>
            <ul class="list">
                <li class="food">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_opgfOaMkn1sXt6mLuPhht8vQoLOCoID_yg&usqp=CAU"
                        alt="plate" class="image">
                    <div class="overlay"><a href="/add">Bacon Meatloaf - caramelized onion mashed potatoes,
                            mushroom-brandy cream sauce - 18</a></div>
                </li>
            </ul>
            <ul class="list">
                <li class="food">
                    <img src="https://www.coopercheese.com/wp-content/uploads/2018/10/Cooper_Tatchos_Mobile.jpg"
                        alt="plate" class="image">
                    <div class="overlay"><a href="/add">Bacon Totchos - tots, mustard-cheese sauce, beef, onion, lettuce
                            - 16</a></div>
                </li>
            </ul>

            <div>
                <span class="style">Dessert</span>
            </div>
            <ul class="list">
                <li class="food">
                    <img src="https://i.pinimg.com/originals/5b/8e/29/5b8e29c9de75aac84528692b86289e33.jpg" alt="plate"
                        class="image">
                    <div class="overlay"><a href="/add">Bacon Cannnoli - sweet chocolate, ricotta cheese - 7</a></div>
                </li>
            </ul>
            <ul class="list">
                <li class="food">
                    <img src="https://i.pinimg.com/originals/b2/04/b2/b204b2c53a483dc0964edd69fe1d619a.jpg" alt="plate"
                        class="image">
                    <div class="overlay"><a href="/add">Chocolate bacon - smokey bacon dipped in sweet chocolate covered
                            with sprinkles - 7</a></div>
                </li>
            </ul>
        </div>
    </div>

</body>
</html>