<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>find us</title>
    {%load static%}
    <link rel="stylesheet" href="{%static 'css/profile.css'%}?{%now 'U'%}">
</head>
<body>
    

    <div class ='container'>
        <div class='header-bar'>
            <div class='bar-item'> <a href="order">menu</a></div>
            <div class='bar-item'> <a href="contact">contact</a></div>
            <div class='bar-item'> <a href="index">login</a></div>
            <div class='bar-item'> <a href="profile">profile</a></div>
        </div>

        <div id = 'about-us'>
            <h1>About us. </h1>
            <p>We are a small family owned business that has grown due to the overwhelming desire for bacon. 
                Are in house artisan bacon is sure to tantalize your senses.
                Try from are 12 family recipes that is sure to hit the mark for everyone.
                Are master  charcutier is guaranteed to tame even the most restles of hungers we have posthumously crafted gluten free,
                vegetarian , low sodium and fat free bacon, Are state of the art kitchen design is guaranteed to deliver a fresh,
                fast and friendly service of delesus savorey bacon as well so  come in and bring an appetite you're gonna need it!</p>
        </div>
        
        
        
        
        
        
    </div>
    
    
    
    
</body>
<div class='map'>
    <h3>My Google Maps Demo</h3>
    <!--The div element for the map -->
    <div id="map"></div>

    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap&libraries=&v=weekly"
    async
    ></script>
</div>
</html>