<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/profile.css'%}?{% now 'U' %}">

</head>

<body>
<div class='container'>
    <div class='header-bar'>
        <div class='bar-item'> <a href="/">Home</a></div>
            <div class='bar-item'> <a href="/add_food">Add Food</a></div>
            <div class='bar-item'> <a href="/menu">Menu</a></div>
            <div class='bar-item'> <a href="/contact">Contact</a></div>
            {%if request.session.user_id%}
            <div class='bar-item'> <a href="/logout">Logout</a></div>
            {%else%}
            <div class='bar-item'> <a href="/login">Login</a></div>
        {%endif%}
            <div class='bar-item'> <a href="/profile">Profile</a></div>
    </div>

    {% for message in messages %}
        <p class="text-danger small">{{ message }}</p>
    {% endfor %}

    <h1>Edit item</h1>
    <form class='edit-food' action="/handle_edit_item/{{item.id}}" method='POST'>
        {%csrf_token%}
        <div class="item-edit">
            <input type="text" name=name value='{{item.name}}'>
            <input type="text" name=desc value='{{item.desc}}'>
            <input type="text" name=price value='{{item.price}}'>
            <select name="course" id="course" >
                <option value="{{item.course}}">{{item.course}}</option>
                <option value="Appetizers">Appetizers</option>
                <option value="Entrees">Entrees</option>
                <option value="Desserts">Desserts</option>
            </select>
        </div>
        <button type="submit">Edit item </button>
        
    </form>

</div>
</body>
</html>