<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {%load static%}
    <link rel="stylesheet" href="{% static 'css/welcome.css' %}">
</head>

<body>
    <div class='container'>
        <div class='header-bar'>
            <div class='bar-item'> <a href="order">menu</a></div>
            <div class='bar-item'> <a href="contact">contact</a></div>
            <div class='bar-item'> <a href="login">login</a></div>
            <div class='bar-item'> <a href="profile">profile</a></div>
        </div>
</body>

</html>