<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/welcome.css'%}?{% now 'U' %}">
</head>

<body>
    <div class='container'>
        <div class='header-bar'>
            <div class='bar-item'> <a href="menu">Menu</a></div>
            <div class='bar-item'> <a href="contact">Contact</a></div>
            <div class='bar-item'> <a href="login">Login</a></div>
            <div class='bar-item'> <a href="profile">Profile</a></div>
        </div>
        <h1>Fist Full of Bacon</h1>
        <!-- bacon images-->
        <!-- make title look cool -->
        <!--add footer link to add food page *update food*  -->
</body>

</html>