<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
    {% load static %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <link rel="stylesheet" href="{%static 'css/welcome.css'%}?{%now 'U'%}">

</head>

<body>
    <nav class="navbar navbar-primary bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Menu</a>
            <a class="navbar-brand" href="/contact">Contact</a>
            <a class="navbar-brand" href="/login">Login</a>
            <a class="navbar-brand" href="/profile">Profile</a>
        </div>
    </nav>
    <h1>A Fist Full of Bacon</h1>

    <div class='img'>
        
        <img src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTrsn8ANGI0WmaN3AHUSocNmrc7P2ygOujHXw&usqp=CAU'
        alt="" sizes="" srcset="">
    </div>
    <footer>Add Food Link</footer>
</body>

</html>