<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Order</title>
</head>
<body>
    <div class='header-bar'>
        <div class='bar-item'> <a href="order">menu</a></div>
        <div class='bar-item'> <a href="contact">contact</a></div>
        <div class='bar-item'> <a href="login">login</a></div>
        <div class='bar-item'> <a href="profile">profile</a></div>
    </div>

    <div class="food">
        <img src="https://s3-media0.fl.yelpcdn.com/bphoto/XzJQqnaT_Qc_RIm135tAlw/o.jpg" alt="plate" class="image">
        <div class="overlay"><a href="/add">Bacon cheese Burger - American Cheese, mama lils pepper, candied bacon, secret sauce - 18</a></div>
    </div>
</body>
</html>